<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicações</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <img class="header__img" src="../assets/images/Vector.svg" alt="logo">
        </div>
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item"><a href="#" class="header__link">Introdução</a></li>
                <li class="header__item"><a href="#" class="header__link">Sobre Nós</a></li>
                <li class="header__item"><a href="#" class="header__link header__link--button header__link--button-active">Aplicações</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <header class="main__header">
            <h1 class="main__title">
                {{ .Title }}
            </h1>
            <p class="main__paragraph">
                {{ .Paragraph }}
            </p>
        </header>
        <section class="main__application">
            <form class="main__form" action="script.js">
                <input class="main__input" type="{{ .Type }}" placeholder="{{ .Placeholder }}">
                <button class="main__button">Enviar</button>
            </form>
            <div class="main__output">
                &#62_
            </div>
        </section>
    </main>

    <footer class="footer">
        <span class="footer__span">
            Feira do Conhecimento 2024 | Escola Estadual Maria Luiza Miranda Bastos | Curso Técnico de Informática - 1º Ano | Projeto: Lógica de Programação
        </span>
    </footer>
</body>
</html>
